<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="location">
	<ion-nav-bar class="bar bar-header bar-positive">
	<ion-nav-back-button>
	</ion-nav-back-button>
	<ion-nav-title>
	  <h1 class="title"><b>Location Correction: {{location.mrchName}}</b></h1>
	</ion-nav-title>
	</ion-nav-bar>

	<ion-content> <br />
	<div id="map" data-tap-disabled="true"></div>
				<div class="card">
					<div class="item item-divider">Transaction Details</div>
					<div class="item item-text-wrap">
						<h2>{{location.mrchName}}</h2>
						<p>{{location.txn_date}}</p>
						<p>{{location.amount | currency}}</p>
						<p>
							<a href="#" class="subdued">5 Confirmations</a>
						</p>
					</div>
				</div>

	<form name="locationform" ng-click="update_location(location)">
		<div class="item item-input-inset">
			<label class="item item-input"> <span class="input-label">Merchant
					Name</span> <input type="text" ng-model="location.location.merchant_name">
			</label>
		</div>
		<div class="item item-input-inset">
			<label class="item item-input"> <span class="input-label">Merchant
					Address</span> <input type="text" ng-model="location.location.street">
			</label>
		</div>
		<div class="item item-input-inset">
			<label class="item item-input"> <span class="input-label">Merchant
					City</span> <input type="text" ng-model="location.location.city">
			</label>
		</div>
		<div class="item item-input-inset">
			<label class="item item-input"> <span class="input-label">Merchant
					State</span> <input type="text" ng-model="location.location.state">
			</label>
		</div>
		<div class="item item-input-inset">
			<label class="item item-input"> <span class="input-label">Merchant
					Zip</span> <input type="text" ng-model="location.location.zip">
			</label>
		</div>
		<span>
			<button type="submit" class="button button-block button-positive">Update</button>
			<button type="submit" class="button button-block button-clear">Skip</button>
		</span>

	</form>
</ion-content> </ion-view>
