<head><link rel="stylesheet" href="lib/ion-md-input/css/ion-md-input.css" />
  </head>

<ion-view align-title="left">
<ion-nav-bar class="bar bar-header bar-positive">
<ion-nav-title>
<h1 class="title">
	<b>Login</b>
</h1>
</ion-nav-title>
</ion-nav-bar>
  <ion-content class="padding" style="background: url(img/login.jpg) center; background-size: cover;">
  <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1><center>GMR</center></h1>
            </div>
        </div>   
        
      <div class="list">
      <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-full button-assertive ink padding" ng-click="login()">Login</button>
      
      <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-balanced">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive">Facebook</button>
        </div>
  </ion-content>
</ion-view>