<head><link rel="stylesheet" href="css/style2.css" />
  </head>
  
<body class="login">
  <ion-view name="login-view" >
  <ion-nav-bar class="bar bar-header bar-positive">
<ion-nav-title>
	<h1 class="title">
	<b>VISA Merchant Program</b>
	</h1>
</ion-nav-title>
</ion-nav-bar>
    <ion-content class="padding" style="background: url(img/login.jpg) center; background-size: cover;">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="my-container">
    	<center><h2>Register your card.</h2></center>
    <img src="img/register.jpg">
	</div>
  </ion-slide>
  <ion-slide>
        <div class="my-container">
    	<center><h2>Correct transaction.</h2></center>
    <img src="img/edit.jpg">
	</div>
  </ion-slide>
  <ion-slide>
    <div class="my-container">
    	<center><h2>Earn rewards..</h2></center>
    <img src="img/profit.jpg">
	</div>
  </ion-slide>
</ion-slide-box>
            <button class="button button-full button-balanced ink padding" ng-click="signin()">Login</button>
            <button class="button button-full button-royal ink padding" ng-click="register()">Register</button>
    </ion-content>
  </ion-view>
</body>