<head>
<style>
.card
{
     margin-bottom: 0px;
     margin-top: 0px;
     padding: 7px;
     
}

h4 {
    font-size: 15px;
}

ul
{
    background-color: #FFFFF;
    padding:1px;
}

</style>
</head>

<ion-view>
<ion-nav-bar class="bar bar-header bar-positive">
<ion-nav-title>
  <h1 class="title"><b>Settings</b></h1>
</ion-nav-title>
</ion-nav-bar>

  <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
  
  <ul class="list">

  <li class="item item-toggle">
     Enable Notifications
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  
   <li class="item item-select">
     Max. Locations Checks
     <select ng-model="settings.num_locations">
	            <option ng-selected="selected">5</option>
	            <option>10</option>
	            <option>15</option>
	            <option>20</option>
	        </select>
  </li>
  
  <li class="item item-badge">
     WoW Points
  <span class="badge badge-positive">{{settings.wow_points}}</span>
  </li>
  
   <li class="item item-button">
     <button class="button button-full button-energized"> Reedem WoW points !!! </button>
  </li>
  
  <li class="item item-help">
     <a>Help</a>
  </li>
  
  <li class="item item-button">
  <div class="row">
   <div class="col text-right">
     <button class="button button-large button-positive">  Logout </button>
     </div></div>
  </li>
  
  </ul>
 
  </ion-content>
</ion-view>
