<head>
<style>
.card
{
     margin-bottom: 0px;
     margin-top: 0px;
     padding: 7px;
     
}

h4 {
    font-size: 18px;
}

.item-complex .item-content, .item{
    background-color: rgba(0,0,0,0);
    border:0px;
    padding:1px;
}
</style>
</head>

<ion-view>
<ion-nav-bar class="bar bar-header bar-positive">
<ion-nav-title>
  <h1 class="title"><b>Settings</b></h1>
</ion-nav-title>
</ion-nav-bar>

  <ion-content class="padding" style="background: url(img/login.jpg) center; background-size: cover;">
  <div class="card stable-bg ink ink-dark item-text-wrap">
  <br><br>
  
     <div class="list animate-fade-slide-in-right">
    
    <a class="item">
                <ion-toggle  ng-model="settings.notifications" class="item item-icon-right" toggle-class="toggle-calm"></ion-toggle>
    </a>
       <h4> <font color="Black">Enable Notifications</font></h4>
</div>
    	<br><br>
    
    <h4> <font color="Black">Max. Locations Checks</font></h4>
	    		    	
	    	<select ng-model="settings.num_locations">
	            <option ng-selected="selected">5</option>
	            <option>10</option>
	            <option>15</option>
	            <option>20</option>
	        </select>
	
	
		<br><br>
	<span>
    	<i class="icon ion-ios-color-wand"></i>
    		<h4> <font color="Black">WoW Points</font></h4>
    	<span class="badge badge-assertive">{{settings.wow_points}}</span>
    </span>

  	  
  	  	<br><br>
  	  	<span>
    	<i class="icon ion-help-circled"></i>
    		<h4> <font color="Black">Help</font></h4>
    		</span>
  	  
  	  	<br><br>
  	  	<span>
    	<i class="icon ion-log-out"></i>
    		<h4> <font color="Black">Log Off</font></h4>
    		</span>
	</div>
  </ion-content>
</ion-view>
