<head>
<style>
<!--
.card
{
     margin-bottom: 3px;
     margin-top: 0px;
     padding: 7px;
     
}

.item-complex .item-content, .item{
    background-color: rgba(0,0,0,0);
    border:0px;
    padding:1px;
}
-->
h3 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 20px;
}
</style>

</head>

<ion-view> 
<ion-nav-bar class="bar bar-header bar-positive">
<ion-nav-title>
<h1 class="title">
	<b>Transactions</b>
</h1>
</ion-nav-title> 
</ion-nav-bar> 

<ion-content class="padding animate-fade-slide-in-right" style="background: url(img/login.jpg) center; background-size: cover;">
<ion-refresher
	pulling-text="Pull to refresh..." on-refresh="doRefresh()">
</ion-refresher> 


<!--
<ion-list ng-controller="LocationsCtrl"> 
<ion-item class="item-icon-right" ng-repeat="l in locations"
	type="item-text-wrap" href="#/tab/locations/{{l.tranId}}">
	<ion-option-button class="button-info" ng-click="edit(item)">Edit </ion-option-button>
	
	<div class="row">
		<div class="col col-50">
			<span class="txn_date">Date: {{l.tranDt }}</span>
		</div>
		<div class="col col-50">
			<span class="txn_curr">Amount: {{l.tranAmt | currency}}</span>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<span class="txn_name">{{l.mrchName}}</span>
		</div>
	</div>
	<div class="card">
		<div class="item item-divider">Merchant Location</div>
		<div class="item item-text-wrap">
			<span class="txn_merchant">
			<h3>Name:   </h3> <span class="txn_merch_name">{{l.mrchName}}</span>
			</span>
			<span class="txn_merchant">
			<h3>Address:</h3> <span class="txn_merch_addr">{{l.mrchAddr}}, {{l.mrchCity}}  {{l.mrchZip}}, {{l.mrchState}}</span>
			</span>
			
		</div>
	</div>
	
	<p class="icon ion-edit icon-accessory" style="font-size: 1.5em" />
</ion-item> </ion-list> 

-->
<font color="#1a1a1a" style="color: #fff; text-shadow: 0 1px 0px #000; font-size: 17px;"><center><b>If you think we got the merchant details wrong please swipe the card and fix it !!!</b></center></font>
 <br>
 <div ng-show="showThanks"><center><font color="White" size="10"><br>THANKS !!!</font></center>
 <center><font color="White" size="6"><br>+10 WOW Points !!!</font><br></center></div>
 
 <ion-list class="tab-loc-list" ng-controller="LocationsCtrl" show-delete="false" can-swipe="true" style="background-color: rgba(0,0,0,0); border:0px; padding:1px;">
  <ion-item ng-repeat="l in locations">
  
  <ion-option-button class="button-info" ng-click="edit_loc({{l.tranId}})" >
      Fix
    </ion-option-button>
    <ion-option-button class="button-positive">
      Skip
    </ion-option-button>
  
  <div class="card stable-bg ink ink-dark item-text-wrap" style="height:100%" style="margin-bottom: 3px; margin-top: 0px; padding: 7px;"> 
	On <font color="#00061a"><b>{{l.tranDt }}</b></font> you spent <font color="#00061a"><b>{{l.tranAmt | currency}}</b></font> at 
	<font color="#660000"><b>{{l.mrchName}}</b></font> located at <font color="#660000"><b>{{l.mrchAddr}}, {{l.mrchCity}}  {{l.mrchZip}}, {{l.mrchState}}</b></font>
 </div>
	<!--
	<div class="row">
		<div class="col col-50">
			<span class="txn_date">Date: {{l.tranDt }}</span>
		</div>
		<div class="col col-50">
			<span class="txn_curr">Amount: {{l.tranAmt | currency}}</span>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<span class="txn_name">{{l.mrchName}}</span>
		</div>
	</div>
	
		<div class="item item-divider">Merchant Location</div>
		<div class="item item-text-wrap">
			<span class="txn_merchant">
			<h3>Name:   </h3> <span class="txn_merch_name">{{l.mrchName}}</span>
			</span>
			<span class="txn_merchant">
			<h3>Address:</h3> <span class="txn_merch_addr">{{l.mrchAddr}}, {{l.mrchCity}}  {{l.mrchZip}}, {{l.mrchState}}</span>
			</span>
			
		</div>  -->
    
    
  </ion-item>
</ion-list>  

</ion-content> </ion-view>
